.image_size {
  width: 15vw;
  height: auto;
  float: left;
  margin-top: .5vw;
  margin-right: 1vw;
}

.text_clear {
  clear: right;
}

.title_text {
  font-size: max(2vw, 18px);
  font-weight: bold;
}
