.col_size {
  width: 100%;
}

.outer_container_size {
  width: 100%;
}

.percentage_text {
  color: black;
}

.question_font_size {
  font-size: min(2vw, 20px);
}

.statement_font_size {
  font-size: min(2vw, 20px);
}
